@import "tailwindcss";
@import '@fontsource-variable/plus-jakarta-sans/wght.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
  --background:
    radial-gradient(125% 125% at 50% 90%,
      #ffffff 40%,
      #10b981 100%);
}

.dark {
  color-scheme: dark;
  --background:
    radial-gradient(ellipse 80% 60% at 50% 0%,
      rgba(34, 197, 94, 0.25),
      transparent 70%),
    #000000;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
}

body {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
}